<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Запити</title>
    <style>
body {
  background-color: linen;
}

h1 {
  color: maroon;
  margin-left: 40px;
}
</style>
</head>
<body>
<h1 style="color:red;text-align:center;">Система університету</h1>
<h2 style="color:blue;text-align:center;">Ви можете обрати один з 4 запитів</h2>
<form class="form-inline" method="POST" action="{{ url_for('index1') }}">
  <div class="form-group">
    <div class="input-group">
        <span class="input-group-addon">Оберіть запит:  </span>
            <select name="comp_select" class="selectpicker form-control">
              {% for o in data %}
              <option value="{{ o.name }}">{{ o.name }}</option>
              {% endfor %}
            </select>
    </div>
    <button type="submit" class="btn btn-default">Обрати</button>
      <p style="color:blue;text-align:right;"><a href="{{url_for('index') }}" >Перейти до таблиць</a></p
  </div>
</form>
</body>
</html>