 <!DOCTYPE html>
  <html lang="en">
  <head>
    <title>Request 2</title>
  </head>
  <body>

<div class="container">
  <div class="row">
    <div class="col">

      <h1>Запит 2: </h1>
      <h2>Вибрати групу з найбільшим середнім балом на вказаній спеціальності.</h2>
      <hr>

      <form action="/request2" method="POST">

        <div class="form-group">
          <label>Спеціальність</label>
          <input type="text" class="form-control" id="speciality" name="speciality" placeholder="Обрати спеціальність">
        </div>



        <button type="submit" class="btn btn-primary">Запит</button>

      </form>

      <table>
        <tbody>
            {% for row in output_data %}
                <tr>
                    <td>{{row[0]}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    </div>
  </div>
</div>

  </body>
  </html>
