<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>student</title>
</head>
<body>
    <table>
        <thead>
        <tr>
            <th>Student_id</th>
            <th>Person_id</th>
            <th>Book_no</th>
            <th>Note</th>

        </tr>
        </thead>
        <tbody>
            {% for row in output_data %}
                <tr>
                    <td>{{row[0]}}</td>
                    <td>{{row[1]}}</td>
                    <td>{{row[2]}}</td>
                    <td>{{row[3]}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>